<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<dl class="dl-horizontal">
<dt> 联系人 </dt>
<dd>
  <a href="http://railstutorial.org/contact">contact page</a>.
</dd>
<dt> 电话 </dt>
<dd> asdfasd</dd>
<dt> 电子邮箱 </dt>
<dd> dsfasdfa </dd>
</dl>
