
  <div class="control-group">
    <label class="checkbox inline">
      <input type="checkbox" id="inlineCheckbox1" value="option1"> 发到人人
    </label>
    <label class="checkbox inline">
      <input type="checkbox" id="inlineCheckbox2" value="option2"> 发到新浪微博
    </label>
    <label class="checkbox inline">
      <input type="checkbox" id="inlineCheckbox3" value="option3"> 发到腾讯微博
    </label>
  </div>
  

