
  <div class="control-group">
    <label class="checkbox inline">
      <input type="checkbox" id="inlineCheckbox1" name="rr"> 人人
    </label>
    <label class="checkbox inline">
      <input type="checkbox" id="inlineCheckbox2" name="xlwb"> 新浪微博
    </label>
    <label class="checkbox inline">
      <input type="checkbox" id="inlineCheckbox3" name="txwb"> 腾讯微博
    </label>
  </div>
  

