<div class="control-group">
    <label class="control-label" for="inputCampus">校区 *</label>
    <select >
       <option>紫金港</option>
       <option>玉泉</option>
       <option>西溪</option>
       <option>之江</option>
       <option>其他地点</option>
    </select>
</div>
<div class="control-group">
    <label class="control-label" for="inputBuilding">所在建筑或附近建筑 *</label>
    <select >
       <option>紫金港</option>
       <option>玉泉</option>
       <option>西溪</option>
       <option>之江</option>
       <option>其他地点</option>
    </select>
</div>
<div class="control-group">
    <label class="control-label" for="inputPostion">详细位置</label>
    <div class="controls">
      <textarea rows="2" type="text" id="inputPosition" placeholder="请输入详细位置"></textarea>
    </div>
</div>
