<div class="control-group">
	
        <label class="control-label" for="inputTitle">事件标题（不超过10字） *</label>
        <div class="controls">
           <input type="text" id="inputEmail" placeholder="请输入事件标题">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputDescription">事件描述（不超过200字)</label>
        <div class="controls">
           <textarea rows="3" id="inputDescription" placeholder="请输入事件描述"></textarea>
        </div>
      </div>
